@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "inika" , serif;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'inika', serif;
    background-color: black;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}
/* Navbar */

nav {
    max-width: 1379px;
    width: 100%;
    display: flex;
    background-color: black ;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(96, 172, 235);
    height: 50px;
    align-items: center;
    font-size: 1.3em;  
    /* margin-left: 50px; */
    box-sizing: border-box;
    position: fixed;
}

nav .logo {
    letter-spacing: 3px;
}


nav ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    transform: translateX(0);
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

nav ul li a:hover {
    color: rgb(223, 223, 253);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 29px;
    left: -5.5px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 2.5px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animasi */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-0.5px , 0px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}


.Container {
    max-width: 1349px;
    width: 100%;
    height: 2992px;
    background-position: center;
    background-size: cover;
    border: 0cm;
    background-color: black;
}



.home {
    padding-left: 20px;
    width: 100%;
    height: 643px;
    display: flex;
    box-sizing: border-box;
    background: transparent;
}

.frame1 {
    width: 1255px;
    height: 416px;
    display: flex;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 40px;
    background-color: transparent;
}

.des {
    background-color: transparent;
    justify-content: right;
    width: 743px;
    height: 416px;
}

.hello {
    font-size: 60px;
    color: #07F0FF;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    margin-top: 35px;
}

.student {
    font-size: 60px;
    color: white;
    font-weight: 700;
    margin-top: 40px;
    background-color: transparent;
    display: flex;
}

.student b {
    color: #FF0707;
    padding-left: 20px;
    margin-right: 20px;
    
}

.lokhp {
    background-color: transparent;
    width: 743px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 110px;
}
.lokasi {
    width: 475px;
    box-sizing: border-box;
    background-color: transparent;
}

.lokasi a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.hp {
    width: 150px;
    display: flex;
    align-items: end;
    background-color: transparent;
    padding-right: 90px;
}

.hp img {
    width: 28.89px;
    height: 53px;
    border-radius: 5px;
}

.hp a {
    font-family: "inter" , sans-serif;
    color: white;
    margin-left: 10px;
}

.garis {
    width: 668px;
    height: 2px;
    margin-top: 10px;
    background-color: white;
}

.ku {
    width: 339px;
    height: 416px;
    display: flex;
    margin-left: 155px;
    align-items: center;

}

.about {
    background: transparent;
    height: 612px;
    box-sizing: border-box;
    display: flex;
    margin-top: 0;
    border-width: 0;
}

.frame2 {
    width: 1200px;
    height: 459px;
    display: flex;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 60px;
    justify-content: space-between;
    background-color: transparent;
}

.saya {
    border-radius: 10px;
    width: 316px;
    height: 459px;
    box-sizing: border-box;
    
}

.saya img {
    width: 316px;
    height: 459px;
    box-sizing: border-box;
    display: flex;
}

.deskripsi {
    width: 750px;
    height: 459px;
    background-color: transparent;
    box-sizing: border-box;
    font-weight: 500;
}

.heading {
    font-size: 60px;
    color: #07F0FF;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
}

.heading span {
    color: #FF0707;
}

.deksingkat {
    color: white;
    font-size: 36px;
    margin-top: 30px;
}

.pengenalan {
    font-size: 36px;
    color: white;

}

.name {
    display: flex;
    box-sizing: border-box;
}

.gal {
    margin-left: 221px;
    display: flex;
    box-sizing: border-box;

}

.ttl {
    display: flex;
    box-sizing: border-box;
}

.pkl {
    margin-left: 21px;
}
.kelas {
    display: flex;
    box-sizing: border-box;
}

.class {
    margin-left: 222px;
    display: flex;
    
}

.hoby {
    display: flex;
    box-sizing: border-box;
}

.sng {
    margin-left: 213px;
    display: flex;
    box-sizing: border-box;
}

.education {
    width: 100%;
    height: 568px;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    margin-top: 0;
    padding: 0;
}

.frame3 {
    width: 1200px;
    height: 459px;
    box-sizing: border-box;
    margin-top: 55px;
    margin-left: 75px;
    background-color: transparent;
}

.educa {
    width: 1200px;
    height: 65px;
    font-size: 65px;
    color: #07F0FF;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.list {
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.list ul {
    list-style-type: square;
    font-size: 40px;
    color: white;
}

.experience {
    border: 0;
    width: 100%;
    height: 660px;
    background-color: transparent;
    display: flex;

}

.frame4 {
    width: 1189px;
    height: 536px;
    background-color: transparent;
    margin-top: 80px;
    margin-left: 80px;
}

.jud {
    font-size: 65px;
    font-weight: 700;
    align-items: center;
    background-color: transparent;
    height: 65px;
    width: 1189px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #07F0FF;
}

.jud a {
    color: white;
    padding-left: 10px;
}

.jud span {
    padding-left: 10px;
    color: #FF0707;
}

.duafoto {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.software a{
    display: block;
    text-decoration: none;
    font-size: 55px;
    padding: 30px 100px;
    font-weight: 700;
    color: white;
}

.pramuka a{
    display: block;
    text-decoration: none;
    font-size: 55px;
    padding: 30px 100px;
    font-weight: 700;
    color: white;
}
.contact {
    background-color: transparent;
    box-sizing: border-box;
    height: 507px;
    margin-top: 0;
    display: flex;
    box-sizing: border-box;
}

.frame5 {
    width: 905px;
    height: 428px;
    background-color: transparent;
    margin-top: 60px;
    margin-left: 120px;
}

.tebal {
    color: #07F0FF;
    font-size: 65px;
    font-weight: 700;
    align-items: center;
    justify-content: baseline;
    margin-top: 40px;

}

.bcontact {
    background: transparent;
    box-sizing: border-box;
    width: 905px;
    height: 228px;
    margin-top: 70px;
    
}

.igfb {
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    font-family: "inter" , sans-serif;
    background-color: transparent;
}

.ig {
    height: 66px;
    display: flex;
    align-items: center;

}

.ig img {
    display: flex;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
}

.ig a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    margin-left: 15px;
}

.fb {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-right: 60px;
}

.fb img {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
}

.fb a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    margin-left: 15px;
}

.wayt {
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 40px;
}

.wa {
    height: 66px;
    display: flex;
    align-items: center;
}

.wa img {
    display: flex;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
}

.wa a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    margin-left: 15px;
}

.yt {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-right: 60px;
}

.yt img {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    margin-right: 17px;
}

.yt a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    margin-right: 90px;
}


/* media query */

/* mobile phone */
@media screen and (max-width:350px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        max-width: 421px;
        width: 100%;
        display: flex;
        background-color: black ;
        /* padding: 20px 0; */
        color: rgb(96, 172, 235);
        height: 50px;
        align-items: center;
        font-size: 1.3em;  
        /* margin-left: 50px; */
        box-sizing: border-box;
        position: fixed;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 30vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: black;
        margin-top: 48px;
        
        transition: all 0.3s;
        opacity: 0;
    }

    nav ul li a:hover {
       color: aqua;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
    /* awal mula home */

    .Container {
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
        border: 0cm;
        background-color: black;
    }
    
    
    
    .home {
        padding-left: 0;
        width: 100%;
        height: auto;
        display: flex;
        box-sizing: border-box;
        background: transparent;
    }
    
    .frame1 {
        width: 100%;
        height: auto;
        display: block;
        box-sizing: border-box;
        margin-top: 0;
        margin-left: 0;
        background-color: transparent;
    }
    
    .des {
        background-color: transparent;
        justify-content: right;
        width: 100%;
        height: auto;
    }
    
    .hello {
        font-size: 25px;
        color: #07F0FF;
        font-weight: 700;
        background-color: transparent;
        display: block;
        margin-top: 65px;
    }
    
    .student {
        font-size: 25px;
        color: white;
        font-weight: 700;
        margin-top: 30px;
        background-color: transparent;
        display: flexbox;
    }
    
    .student b {
        color: #FF0707;
        padding-left: 10px;
        margin-right: 10px;
        
    }
    
    .lokhp {
        background-color: transparent;
        width: 100%;
        height: auto;
        justify-content: left;
        align-items: center;
        display: block;
        margin-top: 40px;
    }
    .lokasi {
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        display: block;
        justify-content: space-between;
    }
    
    .lokasi a {
        text-decoration: none;
        color: white;
        margin-left: 0;
        font-size: 9px;
    }

    .lokasi img {
        width: 20.10px;
        height: 25px;
        border-radius: 5px;
    }
    .hp {
        width: 100%;
        display: flex;
        align-items: end;
        background-color: transparent;
        padding-right: 0;
        margin-top: 10px;
    }
    
    .hp img {
        width: 20.10px;
        height: 33px;
        border-radius: 5px;
    }
    
    .hp a {
        font-family: "inter" , sans-serif;
        color: white;
        margin-left: 4px;
        font-size: 9px;
    }
    
    .garis {
        width: 65%;
        height: 2px;
        margin-top: 10px;
        background-color: white;
    }
    
    .ku {
        width: 239px;
        height: 226px;
        display: block;
        align-items: center;
        padding-top: 18px;
        margin-left: 19px;
    }

    .ku img {
        width: 239px;
        height: 266px;
    }
    
    /* akhir home */

    /* awal about  */
    .about {
        background: transparent;
        height: auto;
        box-sizing: border-box;
        display: block;
        margin-top: 0;
        border-width: 0;
    }
    
    .frame2 {
        width: 100%;
        height: auto;
        display: block;
        box-sizing: border-box;
        margin-top: 0;
        margin-left: 0;
        justify-content: space-between;
        background-color: transparent;
    }
    
    .saya {
        border-radius: 10px;
        width: 239px;
        height: 296px;
        box-sizing: border-box;
        display: block;
        align-items: center;
        padding-top: 18px;
        margin-left: 19px;
    }
    
    .saya img {
        width: 239px;
        height: 296px;
        box-sizing: border-box;
        display: block;
        align-items: center;
        padding-top: 18px;
        margin-left: 19px;
    }
    
    .deskripsi {
        width: 100%;
        height: auto;
        background-color: transparent;
        box-sizing: border-box;
        font-weight: 500;
    }

    .heading {
        max-width: 300px;
        width: 100%;
        font-size: 30px;
        color: #07F0FF;
        padding-top: 18px;
        text-align: center;
    }
    
    .heading span {
        color: #FF0707;
    }
    
    .deksingkat {
        max-width: 320px;
        width: 100%;
        color: white;
        font-size: 20px;
        margin-top: 30px;
    }
    
    .pengenalan {
        max-width: 325px;
        width: 100%;
        font-size: 20px;
        color: white;
        margin-top: 0;
    }
    
    .name {
        display: flex;
        box-sizing: border-box;
        
    }
    
    .gal {
        margin-left: 75px;
        display: flex;
        box-sizing: border-box;
        
    }
    
    .ttl {
        display: flex;
        box-sizing: border-box;
        text-align: left;
    }

    .pkl {
        margin-left: 0px;
        padding-left: 0;
    }

    .pkl span {
        margin-left: 10px;
    }
    
    .kelas {
        display: flex;
        box-sizing: border-box;
    }
    
    .class {
        margin-left: 74.5px;
        display: flex;
        
    }
    
    .hoby {
        display: flex;
        box-sizing: border-box;
    }
    
    .sng {
        margin-left: 69px;
        display: flex;
        box-sizing: border-box;
    }
    
    /* akhir about */

    /* awal education */
    .education {
        width: 100%;
        height: auto;
        background-color: transparent;
        box-sizing: border-box;
        display: flex;
        margin-top: 0;
        padding: 0;
    }
    
    .frame3 {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin-top: 0;
        margin-left: 10px;
        background-color: transparent;
    }
    
    .educa {
        width: 100%;
        height: auto;
        font-size: 30px;
        color: #07F0FF;
        font-weight: 700;
        background-color: transparent;
        display: block;
        box-sizing: border-box;
        align-items: center;
        margin-left: 80px;
        margin-top: 50px;
    }
    
    .list {
        max-width: 320px;
        width: 100%;
        height: auto;
        background-color: transparent;
        display: block;
        margin-top: 20px;
        padding-left: 40px;
    }
    
    .list ul {
        list-style-type: square;
        font-size: 15px;
        color: white;
    }
    
    /* akhir education */

    /* awal experience */
    .experience {
        border: 0;
        width: 100%;
        height: auto;
        background-color: transparent;
        display: block;
    
    }
    
    .frame4 {
        max-width: 464px;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 40px;
        margin-left: 0;
    }
    
    .jud {
        max-width: 320px;
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        align-items: center;
        background-color: transparent;
        height: auto;
        display: flex;
        margin-top: 0px;
        color: #07F0FF;
    }
    
    .jud a {
        color: white;
        padding-left: 10px;
    }
    
    .jud span {
        padding-left: 10px;
        color: #FF0707;
    }
    
    .duafoto {
        display: block;
        justify-content: space-between;
        padding-top: 0px;
    }
    
    .software a{
        max-width: 320px;
        width: 100%;
        display: block;
        text-decoration: none;
        font-size: 25px;
        padding: 10px 0px;
        text-align: center;
        font-weight: 700;
        color: white;
    }

    .software img {
        width: 300px;
        height: 150px;
        padding-left: 10px;
    }
    
    .pramuka a{
        max-width: 320px;
        width: 100%;
        display: block;
        text-decoration: none;
        font-size: 25px;
        padding: 10px 0px;
        text-align: center;
        font-weight: 700;
        color: white;
    }

    .pramuka img {
        width: 300px;
        height: 150px;
        padding-left: 10px;
    }
    
    /* akhir experience */

    /* awal contact */
    .contact {
        background-color: transparent;
        box-sizing: border-box;
        height: auto;
        margin-top: 0;
        display: block;
        box-sizing: border-box;
    }
    
    .frame5 {
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 0;
        margin-left: 0;
    }
    
    .tebal {
        max-width: 320px;
        width: 100%;
        color: #07F0FF;
        font-size: 35px;
        font-weight: 700;
        align-items: center;
        margin-top: 10px;
        padding-left: 20px;
    }
    
    .bcontact {
        background: transparent;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin-top: 20px;
        
    }
    
    .igfb {
        max-width: 320px;
        width: 100%;
        padding-left: 20px;
        display: block;
        box-sizing: border-box;
        font-family: "inter" , sans-serif;
        background-color: transparent;

    }
    
    .ig {
        height: auto;
        display: flex;
        align-items: center;
    
    }
    
    .ig img {
        display: flex;
        background-size: 34px 34px;
        width: 34px;
        height: 34px;
    }
    
    .ig a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "inter", sans-serif;
        margin-left: 10px;
    }
    
    .fb {
        align-items: center;
        display: flex;
        box-sizing: border-box;
        margin-right: 60px;
        margin-top: 20px;
    }
    
    .fb img {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-size: 34px 34px;
        width: 34px;
        height: 34px;
    }
    
    .fb a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "inter", sans-serif;
        margin-left: 10px;
    }
    
    .wayt {
        display: block;
        box-sizing: border-box;
        background-color: transparent;
        margin-top: 15px;
        padding-left: 20px;
    }
    
    .wa {
        height: auto;
        display: flex;
        align-items: center;
    }
    
    .wa img {
        display: flex;
        background-size: 34px 34px;
        width: 34px;
        height: 34px;
    }
    
    .wa a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "inter", sans-serif;
        margin-left: 10px;
    }
    
    .yt {
        align-items: center;
        display: flex;
        box-sizing: border-box;
        margin-right: 0px;
        padding-top: 15px;
    }
    
    .yt img {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-size: 34px 34px;
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
    
    .yt a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "inter", sans-serif;
        margin-right: 0;
    }
    
    
    /* akhir contact */
} 